@font-face {
    font-family: font;
    src: url(/font/Mulish-SemiBold.ttf);
}

.c1 {
    width: 213px;
    height: 262px;
    border: 1px solid #E8E7E7;
    box-shadow: 0px 1px 50px 0px #00000014;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    background-image: url(Ph1.png);
    background-position: center center;
    background-size: 310px 365px;
    background-repeat: no-repeat;
}

.c2 {
    width: 213px;
    height: 262px;
    border: 1px solid #E8E7E7;
    box-shadow: 0px 1px 50px 0px #00000014;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    background-image: url(Ph2.png);
    background-position: center center;
    background-size: 310px 365px;
    background-repeat: no-repeat;
}
.c3 {
    width: 213px;
    height: 262px;
    border: 1px solid #E8E7E7;
    box-shadow: 0px 1px 50px 0px #00000014;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    background-image: url(Ph3.png);
    background-position: center center;
    background-size: 310px 365px;
    background-repeat: no-repeat;
}

.c4 {
    width: 213px;
    height: 262px;
    border: 1px solid #E8E7E7;
    box-shadow: 0px 1px 50px 0px #00000014;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    background-image: url(Ph4.png);
    background-position: center center;
    background-size: 310px 365px;
    background-repeat: no-repeat;
}

.b1, .b2, .b3, .b4{
    padding-top: 39px;
    padding-left: 94px;
}

.b3{
    padding-top: 29px;
    width: 109px;
    height: 40px;
}

.b4{
    padding-top: 29px;
    width: 99px;
    height: 40px;
}

.bb1, .bb2, .bb3, .bb4{
    font-family: font;
    font-size: 32px;
}

.bb1{
    padding-top: 27px;
    padding-left: 20px;
}

.bb2{
    padding-top: 27px;
    padding-left: 20px;
}

.bb3{
    padding-top: 37px;
    padding-left: 20px;
}

.bb4{
    padding-top: 37px;
    padding-left: 20px;
}

.bbb1, .bbb2, .bbb3, .bbb4{
    font-family: font;
    font-size: 16px;
}

.cc1 {
    font-family: font;
    font-size: 12px;
    padding-top: 18px;
    padding-left: 27px;
}

.cc2 {
    font-family: font;
    font-size: 12px;
    padding-top: 18px;
    padding-left: 27px;
}

.cc3 {
    font-family: font;
    font-size: 12px;
    padding-top: 22px;
    padding-left: 27px;
}

.cc4 {
    font-family: font;
    font-size: 12px;
    padding-top: 16px;
    padding-left: 27px;
}

.bbb1{
    margin-top: -37px;
    padding-left: 65px;
    color: #818181;
}

.bbb2{
    margin-top: -37px;
    padding-left: 65px;
    color: #81818100;
}

.bbb3{
    margin-top: -34px;
    padding-left: 85px;
    color: #818181;
}

.bbb4{
    margin-top: -27px;
    padding-left: 75px;
    color: #818181;
}

.container {
    margin: auto;
    margin-top: 21px;
}



@media only screen and (max-width: 768px) {
    body {
        .container{
            .c1{
                margin-top: 5px;
                margin-left: 65%;
            }
            .c2{
                margin-top: 277px;
                margin-left: -65%;
            }

            .c3{
                margin-top: 549px;
                margin-left: -195%;
            }

            .c4{
                margin-top: 821px;
                margin-left: -325%;
            }
        }
    }
}